@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

:root {
    --vermelho: #E50914;
    --preto: #141414;
}

/* ----- RESET CSS ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- BASE ----- */
body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 50px;
}

header nav a {
    text-decoration: none;
    color: rgb(233, 230, 230);
    margin-right: 50px;
    transition: 0.4s;
}

header nav a:hover {
    color: #AAA;
}

/* ----- FILME PRINCIPAL ----- */
.filme-principal .container{
    margin-left: 50px;
}

.filme-principal {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0)100%), url(../img/ST-Capa.jpg) no-repeat;
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    font-size: 50px;
    font-family: Tahoma, sans-serif ;
    margin-bottom: 10px;
}

.descricao {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.botao {
    width: 150px;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
    transition: 0.4s;
}

.botao:hover {
    opacity: 0.7;
}

.botao i {
    margin-right: 1px;
}

.botao:nth-child(1) {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-right: 5px;
}

.botao:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.144);
    color: white;
}

